<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda de Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item *ngFor="let contato of contatos">
    <ion-label>
      <h2>{{ contato.nome }}</h2>
      <p>{{ contato.telefone }}</p>
      <p>Nascimento: {{ contato.dataNascimento || 'Não informado' }}</p>
      <p>Gênero: {{ contato.genero }}</p>
    </ion-label>
  </ion-item>
</ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
